.theme-btn{
    background-color: var(--theme-color1);
    border-radius: 0;
    font-weight: 600;
    color: var(--theme-color-light);
    display: inline-block;
    padding: 0 60px;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    font-family: var(--title-font2);
    position: relative;
    border:0;
    z-index: 9;
    overflow: hidden;
    .btn-title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        z-index: -1;
        background:#000;
        border-radius: inherit;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
        -webkit-transform-origin: top right;
        transform-origin: top right;
        transition: -webkit-transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
        -webkit-transition: -webkit-transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1), cubic-bezier(0.86, 0, 0.07, 1);
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    }
    &:hover {
        color: #fff;
        box-shadow: unset;
        &:before {
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
            -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
        }
    }
}




.theme-btn.small{
    padding: 10px 30px;
    line-height: 20px;
    font-size: 10px;
}

.theme-btn.large{
    padding: 20px 60px;
    line-height: 25px;
}


.theme-btn-v2 {
    position: relative;
    z-index: 9;
    &:before {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        content: "";
        z-index: -1;
        transform: scale(0, 1);
        transform-origin: right top;
        background: rgb(0, 0, 0);
        border-radius: inherit;
        transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1) 0s, -webkit-transform 500ms 0s;
    }
    &:hover {
        &:before {
            background: var(--theme-color1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
            -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
        }
        svg {
            path {
                stroke: #fff;
            }
        }
    }
    svg {
        path {
            transition: all 0.3s ease;
        }
    }
}



.slick-prev {
    left: 20px;
    &:before {
        content: '\f177';
    }
}
.slick-next {
    right: 20px;
    &:before {
        content: '\f178';
    }
}
.slick-next,
.slick-prev {
    width: 130px;
    height: 50px;
    border: 3px solid #e0e4fd;
    border-radius: 30px;
    top: auto;
    bottom: 0;
    transform: unset;
    z-index: 99;
    transition: all 0.3s ease;
    &:before {
        content: '';
        position: absolute;
        top:50%;
        left: 50%;
        width: 66px;
        height: 16px;
        background-image: url(../images//white-arrow2.svg);
        background-repeat: no-repeat;
        transform: translate(-50%,-50%);
    }    
    &:hover {
        background: #FF0066;
        border-color: transparent;
        &:before {
            background-image: url(../images//white-arrow.svg);
        }
    }
}
.slick-next {
    &:before {
        transform: rotate(-180deg) translate(-50%,-50%);
        transform-origin: top left;
    }
    &:hover {
        &:before {
            transform: translate(-50%,-50%);
        }
    }
}
.slick-prev {
    &:hover {
        &:before {
            transform: rotate(-180deg) translate(-50%,-50%);
             transform-origin: top left;
        }
    }
}





.theme-btn2{
    font-size: 14px;
    font-weight: 500;
    color: var(--theme-color1);
    padding: 14px 39px 11px;
    border-radius: 30px;
    border: 3px solid #F06;
    background: var(--theme-color-light);
    display: inline-block;
    box-shadow: 0px 0px 30px 0px rgba(255, 0, 102, 0.40);
    &:hover {
        background-color: var(--theme-color1);
        color: #fff;
    }
}