/*** 

====================================================================
    collection-section
====================================================================

***/

.collection-section{
    position: relative;
    padding: 120px 0;
    .sec-title{
        @include media-breakpoint-down(md) {
            text-align: center;
        }
        h2{
            padding-bottom: 0;
            @include media-breakpoint-down(md) {
                font-size: 30px;
                line-height: 40px;
            }
            &::before{
                display: none;
            }
        }
        .sub-title{
            @include media-breakpoint-down(md) {
                line-height: 26px;
                font-size: 16px;
            }
        }
    }
}

// collection-block
.collection-block{
    margin: 0 15px;
    position: relative;
    border-radius: 30px;
    border: 5px solid #E0E4FC;
    background: var(--theme-color-light);
    padding: 21px 26px 62px;
    margin-bottom: 35px;
    &:hover {
        .collection-imgs {
            .image {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
    .collection-imgs{
        display: flex;
        .image{
            margin-right: 10px;
            overflow: hidden;
            border-radius: 30px;
            &:last-child{
                margin-right: 0;
            }
            img{
                border-radius: 30px;
                transition: all 0.3s ease;
            }
        }
    }
    .outer-box{
        padding-top: 27px;
        .title{
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            img{
                margin-left: 8px;
            }
        }
        .collection-info{
            display: flex;
            @include media-breakpoint-down(sm) {
                flex-wrap: wrap;
            }
            .inner-box-two{
                margin-right: 30px;
                @include media-breakpoint-down(xxl) {
                    margin-right: 25px;
                }
                @include media-breakpoint-down(lg) {
                    margin-right: 17px;
                }
                @include media-breakpoint-down(sm) {
                    margin-right: 10px;
                    margin-bottom: 20px;
                }
                &:last-of-type{
                    margin-right: 0;
                    margin-bottom: 0;
                }
                span{
                    font-size: 14px;
                    color: var(--theme-color-dark2);
                    display: block;
                    line-height: 10px;
                }
                small{
                    font-size: 14px;
                    color: var(--text-color);
                }
            }
        }
        .auther-info{
            position: absolute;
            bottom: -43px;
            left: 20px;
        }
    }
}

.collection-slider {
    .slick-next,
    .slick-prev {
        bottom: auto;
        top:-120px;
        transform: unset;
        z-index: 99;
        @include media-breakpoint-down(lg) {
            width: 50px;
            height: 50px;
            display: none !important;
        }
    }
    .slick-prev {
        left: auto;
        right: 160px;
        @include media-breakpoint-down(lg) {
            right: 80px;
            display: none !important;
        }
    }
}


/*** 

====================================================================
    news-letter-section
====================================================================

***/
.news-letter-section{
    position: relative;
    padding: 120px 0;
    .outer-box{
        .sec-title{
            margin-bottom: 0;
            h2{
                padding-bottom: 0;
                margin-bottom: 50px;
                &::before{
                    display: none;
                }
                @include media-breakpoint-down(xl) {
                    line-height: 55px;
                }
                @include media-breakpoint-down(lg) {
                    font-size: 32px;
                    line-height: 45px;
                }
                @include media-breakpoint-down(md) {
                    font-size: 24px;
                    line-height: 38px;
                    margin-bottom: 35px;                
                }
            }
            .image{
                margin-bottom: 31px;
            }
            .theme-btn{
                font-size: 14px;
                font-weight: 500;
                background-color: var(--theme-color1);
                color: var(--theme-color-light);
                height: 52px;
                line-height: 52px;
                padding: 0 45px;
                border-radius: 50px;
                display: inline-block;
            }
        }
    }
}



/*** 

====================================================================
    collection-section
====================================================================

***/

.page-content{
    position: relative;
    padding: 120px 0;
    .upper-box{
        margin-bottom: 90px;
        .title{
            font-weight: 700;
            color: var(--theme-color-dark2);
            margin-bottom: 22px;
        }
        .text{
            line-height: 30px;
            margin-bottom: 16px;
        }
        .social-icons{
            display: flex;
            margin-bottom: 36px;
            li{
                margin-right: 20px;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    color: var(--text-color);
                    border: 2px solid #E0E4FC;
                    border-radius: 50%;
                    text-align: center;
                    width: 50px;
                    line-height: 48px;
                    height: 50px;
                    display: inline-block;
                    &:hover {
                        background: var(--theme-color3);
                        color: #fff;
                        border-color: transparent;
                    }
                }
            }
        }
        .pricing-box{
            display: flex;
            align-items: center;
            @include media-breakpoint-down(md){
                flex-wrap: wrap;
            }
            .content-box{
                border-radius: 20px;
                background: #E0E4FC;
                display: inline-block;
                padding: 16px 58px 16px 29px;
                margin-right: 10px;
                @include media-breakpoint-down(lg){
                    padding-right: 45px;
                }
                @include media-breakpoint-down(md){
                    padding-right: 38px;
                    margin-bottom: 10px;
                }
                &:last-child{
                    margin-right: 0;
                }
                span{
                    display: block;
                    color: var(--theme-color-dark2);
                    margin-bottom: 2px;
                }
                small{
                    color: var(--theme-color-dark2);
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }
    }
    .upper-box.v2{
        margin-bottom: 0;
        .nav-tabs.v2{
            margin-bottom: 63px;
            margin-top: 76px;
            border-bottom: 3px solid #D9D9D9;
        }
        .nav-tabs.v2 .nav-link {
            position: relative;
            font-size: 18px;
            font-weight: 800;
            color: var(--theme-color-dark);
            border: 0;
            padding: 0 0 5px 0;
            margin-right: 52px;
            text-transform: uppercase;
            &:hover{
                border: 0;
            }
        }
        .nav-tabs.v2 .nav-link.active{
            color: #f06;
            &::before{
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: #f06;
            }
        }
    }
    .form-column{
        .inner-column{
            display: flex;
            margin-bottom: 30px;
            @include media-breakpoint-down(lg){
                margin-top: 50px;
            }
            @include media-breakpoint-down(md){
                margin-top: 0;
            }
            .contact-form{
                display: flex;         
            }
            .form-group{
                .input-outer{
                    position: relative;
                    i{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 20px;
                    }
                    input,
                    select{
                        border-radius: 30px;
                        border: 3px solid #E0E4FC;
                        background: #FFF;
                        height: 50px;
                        padding: 0 45px;
                        font-size: 13px;
                        text-transform: capitalize;
                        color: var(--text-color);
                        width: 611px;
                        &::placeholder{
                            color: var(--text-color);
                        }
                        @include media-breakpoint-down(xxl){
                            width: 522px;
                        }
                        @include media-breakpoint-down(xl){
                            width: 365px;
                        }
                        @include media-breakpoint-down(lg){
                            width: 389px;
                        }
                        @include media-breakpoint-down(md){
                            width: 214px;
                        }
                    }
                    select{
                        width: 217px;
                        margin-left: 13px;
                        padding: 0 30px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background: transparent;
                        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                        background-repeat: no-repeat;
                        background-position-x: 95%;
                        background-position-y: 10px;
                        @include media-breakpoint-down(md){
                            width: 200px;
                        }
                    }
                }
            
            }
            .nav-tabs{
                border: 0;
            }
            .nav-tabs .nav-link.active{
                background: #E0E4FC;
            }
            .nav-tabs .nav-link{
                border-radius: 30px;
                border: 3px solid #E0E4FC;
                background: #FFF;
                font-size: 20px;
                width: 50px;
                height: 50px;
                line-height: 46px;
                text-align: center;
                padding: 0;
                margin-left: 10px;
                color: var(--theme-color-dark2);
            }
        }
    }
}

// SIDEBAR 

.sidebar {
    border: 10px solid #E0E4FC;
    border-radius: 30px;
    padding: 10px;
    @include media-breakpoint-down(md){
        margin-bottom: 50px;
    }
    .sd-title {
        color: #000000;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #E0E4FC;
        border-radius: 30px;
        padding: 0 20px;
        height: 42px;
        line-height: 42px;
        position: relative;
        &:before {
            content: '\f105';
            font-weight: 900;
            font-family: 'Font Awesome 6 Pro';
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            color: #000;
            font-size: 16px;
        }
    }
}


.sd-widget {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }

    ul {
        padding: 0 20px;
        li {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .sm-field {
        margin-bottom: 10px;
        input {
            width: 100%;
            border-radius: 30px;
            border: 2px solid #E0E4FC;
            background: #FFF;
            height: 40px;
            color: #000;
            font-size: 13px;
            padding: 0 20px;
        }
    }
    .col-lg-5 {
        input {
            padding: 0 15px;
        }
    }
    form {
        padding: 0 15px;
    }
    .text {
        display: block;
        color: #000;
        font-size: 10px;
        font-weight: 900;
        text-transform: uppercase;
        position: relative;
        top:5px;
        @include media-breakpoint-down(lg){
            margin-bottom: 15px;
        }
    }
    button {
        width: 100%;
        border-radius: 30px;
        background: #F06;
        box-shadow: 0px 0px 30px 0px rgba(255, 0, 102, 0.30);
        height: 52px;
        line-height: 52px;
        color: #fff;
        @include media-breakpoint-down(xl){
            padding: 0 38px;
        }
    }
}
.sd-widget .col-lg-2 {
    padding: 0;
    text-align: center;
  }


/* The container */
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 25px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  border: 2px solid #E0E4FC;
  background: #FFF;
  transform: translateY(-50%);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    border-color: #F06;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  border-color: #F06;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  background-color: #FF0066;
  transform: translate(-50%,-50%);
}



.pagination .page-item .page-link {
    i {
        font-size: 20px;
    }
    &.pv {
        &:hover {
            background-color: var(--theme-color1);
            border-color: transparent;
            color: #fff;
        }
    }
}



@media only screen and (max-width:576px) {
    .collection-section .sec-title h2{font-size: 35px;}
    .news-letter-section .outer-box .sec-title .sub-title{font-size: 14px;}
    .news-letter-section .outer-box .sec-title h2{font-size: 28px;line-height: 39px;}
    .page-content .form-column .inner-column #contact-form{flex-direction: column;}
    .page-content .form-column .inner-column .form-group .input-outer select{margin-left: 0;}
    .page-content .form-column .inner-column .form-group .input-outer input{width: 331px;}
    .page-content .form-column .inner-column .form-group .input-outer select{width: 330px;margin-top: 10px;}
    .banner-section-seven .outer-box h1{font-size: 35px;}
    .page-content .upper-box.v2 .nav-tabs.v2 .nav-item:last-child .nav-link{margin-right: 0;}
    .page-content .upper-box.v2 .nav-tabs.v2 .nav-link{margin-right: 36px;}
}

@media only screen and (max-width:480px) {
    .collection-section .sec-title .sub-title{font-size: 14px;margin-bottom: 0;}
    .collection-section .sec-title h2{font-size: 23px;}
    .news-letter-section .outer-box .sec-title h2{font-size: 24px;}
    .news-letter-section .outer-box .sec-title .sub-title{font-size: 14px;line-height: 28px;margin-bottom: 15px;}
    .news-letter-section .outer-box .sec-title h2{font-size: 20px;line-height: 32px;}
    .page-content .form-column .inner-column{flex-direction: column;}
    .page-content .form-column .inner-column .form-group .input-outer input,
    .page-content .form-column .inner-column .form-group .input-outer select{width: 100%;}
    .page-content .form-column .inner-column .nav-tabs{margin-top: 10px;}
    .banner-section-seven .outer-box h1{font-size: 24px;margin-bottom: 50px;}
    .page-content .upper-box.v2 .nav-tabs.v2 .nav-item{margin-bottom: 18px;}
}



