/*** 

====================================================================
    contact-us-section
====================================================================

***/

.contact-us-section{
    position: relative;
    padding: 120px 0;
    @include media-breakpoint-down(lg){
        padding-bottom: 80px;
    }
    .outer-box{
        position: relative;
        border-radius: 50px;
        background: #F8F8F8;
        padding: 94px 99px 84px 54px;
        margin-bottom: 44px;
        @include media-breakpoint-down(md){
            padding: 94px 50px 84px 50px;
        }
        &::before{
            content: "";
            position: absolute;
            bottom: -44px;
            left: 50%;
            transform: translateX(-50%);
            width: 1092px;
            height: 722px;
            border-radius: 50px;
            background: rgba(248, 248, 248, 0.50);
            z-index: -1;
        }
    }
    .input-form-column{
        .sec-title-three{
            margin-top: 0;
            h3{
                font-size: 40px;
                font-weight: 700;
                color: var(--theme-color-dark2);
                text-transform: capitalize;
                margin-bottom: 0;
            }
            .text{
                margin-top: 7px;
            }
        }
        .subscribe-form{
            .form-group{
                margin-bottom: 20px;
                input,
                textarea{
                    width: 100%;
                    border-radius: 30px;
                    border: 2px solid #E0E4FC;
                    background: var(--theme-color-light);
                    height: 60px;
                    padding: 0 32px;
                    color: #444;
                    &::placeholder{
                        color: #444;
                    }
                }
                textarea{
                    height: 230px;
                    padding-top: 18px;
                }
                .theme-btn{
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--theme-color-light);
                    height: 52px;
                    line-height: 52px;
                    display: inline-block;
                    border-radius: 30px;
                    padding: 0 45px;
                    background: #F06;
                    box-shadow: 0px 0px 30px 0px rgba(255, 0, 102, 0.3);
                    margin-top: 23px;
                    &:hover{
                        box-shadow: unset;
                    }
                }
            }
        }
    }
    .image-box{
        @include media-breakpoint-down(xl){
            display: none;
        }
        .image{
            img{
                width: 100%;
            }
        }
    }
}


/*** 

====================================================================
   contact-us-section-two
====================================================================

***/

.contact-us-section-two{
    position: relative;
    padding: 120px 0 100px;
    .contact-heading{
        margin-bottom: 87px;
        .sub-title{
            letter-spacing: 1.6px;
            text-transform: uppercase;
            color: var(--text-color);
            margin-bottom: 10px;
            display: inline-block;
        }
        h2{
            font-size: 50px;
            font-weight: 700;
            color: #0C0C2D;
            line-height: normal;
            text-transform: capitalize;
            @include media-breakpoint-down(xl){
                font-size: 42px;
            }
            @include media-breakpoint-down(lg){
                font-size: 36px;
            }
            @include media-breakpoint-down(md){
                font-size: 28px;
            }
        }
    }
    .input-form-column{
        @include media-breakpoint-down(lg){
            margin-bottom: 50px;
        }
        .sec-title-three{
            margin-top: 0;
            margin-bottom: 42px;
            h4{
                position: relative;
                font-weight: 700;
                text-transform: capitalize;
                margin-bottom: 0;
                color: #0C0C2D;
                padding-bottom: 7px;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 96px;
                    height: 2px;
                    background-color: #f06;
                }
            }
        }
        .subscribe-form{
            .form-group{
                margin-bottom: 20px;
                input,
                textarea{
                    width: 100%;
                    border-radius: 30px;
                    border: 2px solid #E0E4FC;
                    background: var(--theme-color-light);
                    height: 60px;
                    padding: 0 32px;
                    color: #444;
                    &::placeholder{
                        color: #444;
                    }
                }
                textarea{
                    height: 230px;
                    padding-top: 18px;
                }
                .theme-btn{
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--theme-color-light);
                    height: 52px;
                    line-height: 52px;
                    display: inline-block;
                    border-radius: 30px;
                    padding: 0 45px;
                    background: #F06;
                    box-shadow: 0px 0px 30px 0px rgba(255, 0, 102, 0.3);
                    margin-top: 23px;
                    &:hover{
                        box-shadow: unset;
                    }
                }
            }
        }
    }
    .contact-info-vv3{
        margin-top: 15px;
        margin-left: 85px;
        @include media-breakpoint-down(xxl){
            margin-left: 40px;
            margin-right: 60px;
        }
        @include media-breakpoint-down(lg){
            margin: 0;
        }
    }
}


/*** 

====================================================================
    contact-us-section-three
====================================================================

***/

.contact-section-three{
    position: relative;
    padding: 120px 0;
    .outer-box{
        position: relative;
        border-radius: 30px;
        background: #E0E4FC;
        padding: 42px 41px 74px;
        margin-bottom: 39px;
        @include media-breakpoint-down(xl){
            padding: 40px 20px 74px;
        }
        &::before{
            content: "";
            position: absolute;
            bottom: -39px;
            left: 50%;
            transform: translateX(-50%);
            width: 1164px;
            height: 940px;
            border-radius: 30px;
            background: rgba(224, 228, 252, 0.50);
            z-index: -1;
        }
    }
    .profile-box{
        .inner-box{
            border-radius: 30px;
            background: #FFF;
            padding: 32px 30px 49px 45px;
            text-align: center;
            margin-right: 27px;
            @include media-breakpoint-down(xl){
                padding: 32px 30px 32px 30px;
            }
            @include media-breakpoint-down(lg){
                margin-right: 0;
            }
            .btn-box{
                margin-top: 38px;
                .uplode-btn{
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--theme-color-light);
                    height: 52px;
                    line-height: 52px;
                    border-radius: 30px;
                    background: #F06;
                    box-shadow: 0px 0px 30px 0px rgba(255, 0, 102, 0.30);
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    &:hover{
                        box-shadow: unset;
                    }
                }
                .uplode-btn.two{
                    background: #767676;
                    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.20);
                    margin-top: 13px;
                    &:hover{
                        box-shadow: unset;
                    }
                }
            }
        }
    }
    .input-column{
        margin-top: 28px;
        .sec-title-three{
            margin-top: 0;
            margin-bottom: 22px;
            h4{
                position: relative;
                font-weight: 500;
                text-transform: capitalize;
                margin-bottom: 0;
                color: var(--theme-color-dark2);
                padding-bottom: 7px;
                text-decoration-line: underline;
            }
        }
        .subscribe-form{
            .form-group{
                margin-bottom: 18px;
                input,
                textarea{
                    width: 100%;
                    border-radius: 30px;
                    border: 1px solid #BBC5FF;
                    background: var(--theme-color-light);
                    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
                    height: 62px;
                    padding: 0 35px;
                    font-size: 14px;
                    color: var(--text-color);
                    &::placeholder{
                        color: var(--text-color);
                    }
                }
                textarea{
                    height: 160px;
                    padding-top: 17px;
                }
                .theme-btn{
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--theme-color-light);
                    height: 52px;
                    line-height: 52px;
                    display: inline-block;
                    border-radius: 30px;
                    padding: 0 45px;
                    background: #F06;
                    box-shadow: 0px 0px 30px 0px rgba(255, 0, 102, 0.3);
                    margin-top: 23px;
                    &:hover{
                        box-shadow: unset;
                    }
                }
            }
        }
        .social-sec{
            margin-top: 32px;
            .social-iocns{
                li{
                    margin-bottom: 20px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    span{
                        background-color: var(--theme-color-light);
                        display: inline-block;
                        padding: 6px 7px;
                        border-radius: 30px;
                        border: 1px solid #BBC5FF;
                        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
                        display: inline-block;
                        width: 380px;
                        @include media-breakpoint-down(xl){
                            width: 338px;
                        }
                        @include media-breakpoint-down(md){
                            width: 100%;
                        }
                        i{
                            font-size: 18px;
                            color: var(--theme-color-dark2);
                            width: 50px;
                            height: 50px;
                            background-color: #E0E4FC;
                            text-align: center;
                            border-radius: 50%;
                            line-height: 50px;
                            margin-right: 11px;
                        }
                    }
                    .social-btn{
                        font-size: 14px;
                        color: var(--theme-color-light);
                        font-weight: 500;
                        border-radius: 30px;
                        height: 46px;
                        line-height: 46px;
                        padding: 0 30px;
                        background: #21067F;
                        box-shadow: 0px 0px 30px 0px rgba(34, 5, 126, 0.20);
                        display: inline-block;
                        margin-left: 23px;
                        width: 245px;
                        @include media-breakpoint-down(md){
                            margin-left: 0;
                            margin-top: 20px;
                        }
                        &:hover {
                            background-color: var(--theme-color3);
                            color: #fff;
                        }
                    }
                }
            }
            .btn-box{
                margin-top: 36px;
                .uplode-btn{
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--theme-color-light);
                    height: 52px;
                    line-height: 52px;
                    border-radius: 30px;
                    background: #F06;
                    box-shadow: 0px 0px 30px 0px rgba(255, 0, 102, 0.3);
                    display: inline-block;
                    text-align: center;
                    padding: 0 44px;
                    &:hover{
                        box-shadow: unset;
                    }
                }
                .uplode-btn.two{
                    background: #767676;
                    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
                    &:hover{
                        box-shadow: unset;
                    }
                }
            }
        }
    }
}

// .contact-info-section
.contact-info-section{
    position: relative;
    padding: 120px 0;
}

// .blog-block-three
.contact-info-three{
    position: relative;
    border-radius: 50px;
    border: 3px solid #D9D9D9;
    padding: 53px 57px 30px;
    margin-top: 35px;
    @include media-breakpoint-down(xxl){
        padding: 53px 35px 30px;
    }
    @include media-breakpoint-down(xxl){
        padding: 53px 17px 30px;
        border-radius: 25px;
    }
    @include media-breakpoint-down(lg){
        margin-bottom: 30px;
    }
    .icon-box{
        position: absolute;
        top: -38px;
        left: 58px;
        background-color: #f06;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        border-radius: 50%;
        filter: drop-shadow(0px 4px 30px rgba(255, 0, 102, 0.30));
        i{
            font-size: 18px;
            color: var(--theme-color-light);
        }
        @include media-breakpoint-down(xl){
            left: 20px;
        }
    }
    .content-box{
        .title{
            font-weight: 500;
            color: #0C0C2D;
            margin-bottom: 25px;
        }
        span,
        small{
            font-size: 16px;
            display: block;
            line-height: 32px;
            color: var(--theme-color-dark2);
        }
    }
}



// .blog-block-four
.contact-info-block-four{
    margin-bottom: 30px;
    .inner-box{
        position: relative;
        border-radius: 50px;
        background: #E0E4FC;
        padding: 56px 41px 51px;
        .icon-box{
            position: absolute;
            top: 9px;
            right: 10px;
            background-color: #f06;
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            border-radius: 50%;
            filter: drop-shadow(0px 4px 30px rgba(255, 0, 102, 0.30));
            i{
                font-size: 18px;
                color: var(--theme-color-light);
            }
        }
        .content-box{
            .title{
                font-weight: 500;
                color: #0C0C2D;
                margin-bottom: 18px;
            }
            span{
                font-size: 16px;
                display: block;
                line-height: 32px;
                color: var(--theme-color-dark2);
            }
        }
    }
    .inner-box.active{
        margin-right: -50px;
        margin-left: 50px;
        @include media-breakpoint-down(lg){
            margin: 0;
        }
    }
}

@media only screen and (max-width:577px){
    .contact-us-section .outer-box{ padding: 50px 35px 50px 35px;}
}

@media only screen and (max-width:480px){
    .contact-info-section{padding-bottom: 80px;}
    .contact-us-section .input-form-column .sec-title-three h3{font-size: 27px;}
    .contact-us-section .outer-box{ padding: 50px 20px 50px 20px;}
    .contact-us-section .input-form-column .subscribe-form .form-group textarea{height: 170px;}
    .contact-us-section{padding-bottom: 80px;}
    .contact-us-section-two .contact-heading h2{font-size: 24px;}
    .contact-section-three .input-column .sec-title-three h4{font-size: 21px;}
    .contact-section-three .input-column .social-sec .btn-box .uplode-btn{width: 100%;margin-top: 10px;}
    .contact-section-three .outer-box{padding-bottom: 45px;}
    .contact-us-section-two .input-form-column .sec-title-three h4{font-size: 21px;}
    .contact-info-block-four .inner-box .content-box .title{margin-bottom: 7px;}
}