/*** 

====================================================================
    details-section
====================================================================

***/

.details-section{
    position: relative;
    padding: 83px 0 84px;
    .title{
        color: var(--theme-color-dark2);
        font-weight: 500;
        margin-bottom: 23px;
    }
    .text{
        line-height: 30px;
        span{
            color: #f06;
            font-weight: 700;
        }
    }
    .additonal-info {
        margin-top: 60px;
        h3 {
            color: #000;
            font-size: 30px;
            font-weight: 500;
            text-transform: capitalize;
            @include for-xxl {
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 30px;
            }
        }
        .additional-info-table {
            border: 3px solid #E0E4FC;
            width: 100%;
            background-color: #fff;
            border-radius: 50px;
            padding: 10px 20px;
            @include for-xxs {
                border-radius: 0;
            }
        }
        table {
            margin:0;
            width: 100%;
            border-spacing:0 10px;
            border-collapse:separate;
            tr {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    border: 3px solid #E0E4FC;
                    height: 100%;
                    border-radius: 50px;
                    @include for-xxs {
                        border-radius: 0;
                    }
                }
            }
            td,
            th {
                font-size: 16px;
                color: #000;
                font-weight: 500;
                padding: 7px 25px;
                @include for-xxs {
                    display: block;
                }
            }
            th {
                background: #E0E4FC;
                border-radius: 30px;
                width: 400px;
                @include for-xxs {
                    width: 100%;
                    border-radius: 0;
                }
            }
            td {
                background: #fff;
                border-radius: 30px;
            }
        }
    }
    .project-section {
        padding-top: 50px;
    }
}

