.accordion-box {
	position: relative;
	.block {
		position: relative;
		&:last-child{margin-bottom: 0;}
        margin-bottom: 20px;
		.acc-btn {
			position: relative;
			font-size: 18px;
			line-height: 28px;
			font-weight: 600;
			color: var(--theme-color-light);
			cursor: pointer;
            font-family: var(--title-font2);
			border: 1px solid #202020;
			letter-spacing: -0.8px;
			padding: 16px 0px 16px;
			padding-right: 70px;
			transition: all 500ms ease;
			@include media-breakpoint-down(xl){
				padding-left: 18px;
			}
			.icon {
				position: absolute;
				right: 0px;
				top: 0px;
				height: 58px;
                width: 58px;
				font-size: 16px;
				line-height: 58px;
				color: var(--theme-color1);
				text-align: center;
				transition: all 500ms ease;
			}
			&:active{
				background-color: var(--theme-color-light);
				color: var(--theme-color-dark);
			}
		}
		.acc-btn.active {
            border: 0;
			.icon {
				transform: rotate(180deg);
			}
		}
		.acc-content {
			position: relative;
			display: none;
			padding: 0 0 20px;
			.content {
				padding: 0px 0px 0;
				.text {
                    margin-bottom: 0;
                    color: var(--text-color);
                    line-height: 28px;
					text-transform: lowercase;
                }
			}
		}
		.acc-content.current {display: block;}
	}
	//Style Two
	&.style-two{
		.block{
			.acc-btn{
				background-color: var(--theme-color-light);
				padding: 20px 20px;
				padding-right: 60px;
				line-height: 30px;
				.icon{
					right: 20px;
					top: 20px;
					height: 30px;
					width: 30px;
					font-size: 14px;
					line-height: 30px;
					text-align: center;
					border-radius: 50%;
					color: var(--theme-color-light);
					background-color: var(--theme-color1);
				}
				&:active{
					background-color: var(--theme-color-light);
					color: var(--theme-color-dark);
				}
			}
			.acc-content {
				.content {
					padding: 22px 0px 0;
				}
			}
		}
	}
	//Style Three
	&.style-three{
		.block{
			background-color: var(--theme-color-light);
			border-radius: 10px;
			margin-bottom: 30px;
			&:last-child{margin-bottom: 0;};
			.acc-btn{
				background-color: var(--theme-color-light);
				padding: 20px 30px;
				font-size: 20px;
				line-height: 30px;
				.icon{
					right: 20px;
					top: 20px;
					height: 30px;
					width: 30px;
					font-size: 14px;
					line-height: 30px;
					text-align: center;
					border-radius: 50%;
					color: var(--theme-color-light);
					background-color: var(--theme-color1);
				}
				&:active{
					background-color: var(--theme-color-light);
					color: var(--theme-color-dark);
				}
			}
			.acc-content {
				.content {
					padding: 20px 30px 20px;
				}
			}
		}
	}
	//Style Four
	&.style-four{
		.block{
			background-color: var(--theme-color-light);
			border-bottom: 1px solid var(--theme-color-gray);
			margin-bottom: 0px;
			.acc-btn{
				background-color: transparent;
				padding: 20px 0px;
				.icon{
					right: 0px;
					top: 20px;
					height: 30px;
					line-height: 30px;
					width: auto;
					color: var(--theme-color1);
					background-color: transparent;
				}
				&.active{
					color: var(--theme-color2);
					background-color: var(--theme-color-light);
					border-radius: 10px 10px 0 0;
					.icon{
						background-color: var(--theme-color-light);
						color: var(--theme-color1);
						transform: rotate(90deg);
						&:before{
							content: "\f101";
						}
					}
				}
			}
			.acc-content {
				.content {
					padding: 0px 0px 20px;
					background-color: var(--theme-color-light);
				}
			}
		}
	}
}


/*** 

====================================================================
		FAQ's Section
====================================================================

***/

.faqs-section{
	position: relative;
	padding: 120px 0;
	.faq-img{
		position: relative;
		@include media-breakpoint-down(lg){
			margin-top: 50px;
		}
		.image{
			img{
				@include media-breakpoint-down(lg){
					width: 100%;
				}
			}
		}
		.exp-box{
			position: absolute;
			bottom: 196px;
			left: 0;
			width: 255px;
			background-color: var(--theme-color1);
			padding: 57px 55px 57px;
			@include media-breakpoint-down(xxl){
				bottom: 50px;
			}
			@include media-breakpoint-down(lg){
				left: 50px;
			}
			@include media-breakpoint-down(sm){
				bottom: 20px;
				left: 20px;
			}
			&::before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url(../images//resource/patterns-faq.png);
			}
			.text{
				font-size: 23px;
				font-weight: 600;
				color: var(--theme-color-light);
				font-family: var(--title-font2);
				margin-top: 25px;
			}
		}
	}
	.sec-title{
        margin-bottom: 38px;
		@include media-breakpoint-down(xxl){
			margin-top: 0;
		}
		h2{
			padding-bottom: 0;
    		position: relative;
			&::before{
				display: none;
			}
		}
	}
    .accordion-box{
        border-radius: 30px;
        border: 3px solid #E0E4FC;
        background: var(--theme-color-light);
        padding: 23px 30px;
    }
    .accordion.block.active-block{
        border-color: var(--theme-color1);
    }
	.accordion-box .block .acc-btn .icon{
		@include media-breakpoint-down(xl) {
			top: 7px;
		}
	}
	.accordion-box .block{
        background-color: unset;
        position: relative;
        border-bottom: 5px solid #E0E4FC;
        margin-bottom: 0;
        transition: all 0.3s ease;
        &:last-child{
            border-bottom: 0;
            .content{
                padding-bottom: 0;
            }
        }
        &:active{
            border-color: var(--theme-color1);
        }
	}
	.accordion-box .block .acc-btn{
		font-size: 18px;
		font-family: var(--title-font);
		font-weight: 700;
		color: var(--theme-color-dark2);
		border: 0;
        padding: 21px 0 19px;
	}
	.accordion-box .block .acc-btn{
		background-color: var(--theme-color-light);
		color: var(--theme-color-dark);
	}
	.accordion-box .block.active-block .acc-btn{
		background-color: var(--theme-color-light);
		color: #f06;
	}
	.accordion-box {
		color: #f06;
	}
	.acc-btn{
		&:active{
			color: #f06;
		}
	}
}

/*** 

====================================================================
		FAQ's Section two
====================================================================

***/

.faq-section-two{
	position: relative;
	padding: 120px 0;
	.sec-title-three{
		margin-top: 0;
		margin-bottom: 91px;
		.sub-title{
			&::before{
				display: none;
			}
			@include media-breakpoint-down(xl){
				margin-bottom: 10px;
			}
		}
		h2{
			@include media-breakpoint-down(xl){
				line-height: 55px;
			}
		}
		.content-box{
			position: absolute;
			bottom: 0;
			right: 0;
			width: 300px;
			@include media-breakpoint-down(xl){
				bottom: -20px;
			}
			@include media-breakpoint-down(lg){
				position: static;
				width: 100%;
			}
			.text{
				line-height: 30px;
				font-size: 14px;
				text-transform: capitalize;
				margin-bottom: 36px;
			}
			.faq-btn{
				font-size: 14px;
				font-weight: 500;
				color: var(--theme-color-light);
				height: 52px;
				line-height: 52px;
				padding: 0 46px;
				border-radius: 50px;
				display: inline-block;
				background: #474747;
				box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.30);
			}
		}
	}
	.faq-column.one{
		margin-right: 19px;
		@include media-breakpoint-down(lg){
			margin-right: 0;
		}
	}
	.faq-column.two{
		margin-left: 19px;
		@include media-breakpoint-down(lg){
			margin-left: 0;
			margin-top: 50px;
		}
	}
	.faq-img-v3{
		.image{
			@include media-breakpoint-down (lg){
				margin-bottom: 50px;
			}
			img{
				@include media-breakpoint-down(lg){
					width: 100%;
				}
			}
		}
	}
	.accordion-box .block .acc-btn{
		color: var(--theme-color-dark2);
		font-size: 18px;
		font-weight: 700;
		line-height: normal;
		border-radius: 50px;
		padding: 17px 30px 19px;
		border: 3px solid #E0E4FC;	
		background: #FFF;
		@include media-breakpoint-down(xl){
			font-size: 16px
		}
	}
	.accordion-box .block .acc-content .content{
		padding: 20px 30px 17px;
	}
	.accordion-box .block .acc-content{
		padding-bottom: 0;
	}
	.accordion.block.active-block .acc-btn{
		border-color: #f06;
	}
	.accordion.block.active-block .acc-btn .icon{
		color: var(--theme-color-light);
		background-color: #f06;
		border-color: #f06;
	}
	.accordion-box .block .acc-btn {
		margin-right: 16px;
		background-color: var(--theme-color-light);
		z-index: 99;
	}
	.accordion-box .block .acc-btn .icon{
		color: rgba(0, 0, 0, 1);
		border: 3px solid #E0E4FC;
		border-radius: 50%;
		width: 57px;
		height: 57px;
		line-height: 52px;
		text-align: center;
		right: -47px;
		z-index: -1;
		background-color: #fff;
		@include media-breakpoint-down(xxl){
			top: 50%;
			transform: translateY(-50%);
			right: -25px;
		}
	}
}

@media only screen and (max-width:577px) {
	.faq-section-two .sec-title-three h2{line-height: 45px;font-size: 32px;}
	.faq-section-two{padding-bottom: 80px;}
}

@media only screen and (max-width:480px) {
    .faqs-section .sec-title h2{font-size: 25px;line-height: 35px;}
    .faqs-section .sec-title .sub-title{font-size: 14px;line-height: 18px;margin-bottom: 10px;}
	.faqs-section .accordion-box .block .acc-btn{font-size: 16px; padding-right: 40px;}
	.faq-section-two .sec-title-three .sub-title{font-size: 13px;}
	.faq-section-two .sec-title-three h2{line-height: 39px;font-size: 28px}
}