/*** 

====================================================================
    intro-section
====================================================================

***/

.intro-section{
    position: relative;
    padding: 120px 0;
    @include media-breakpoint-down(xl){
        padding-bottom: 100px !important;
    }
    .intro-column{
        .sec-title-three{
            @include media-breakpoint-down(xl){
                top: 100px;
                margin-top: 0;
            }
            h2{
                text-transform: capitalize;
                @include media-breakpoint-down (xxl){
                    font-size: 53px;
                    line-height: 63px;
                }
                @include media-breakpoint-down (xl){
                    font-size: 45px;
                    line-height: 55px;
                }
            }
            .text{
                margin-top: 29px;
                margin-bottom: 45px;
            }
            .btn-box{
                margin-bottom: 110px;
                .play-btn{
                    color: var(--theme-color-dark2);
                    &:hover {
                        i {
                            background: var(--theme-color2);
                            border-color: transparent;
                            color: #fff;
                        }
                    }
                    i{
                        width: 100px;
                        height: 100px;
                        border: 3px solid var(--theme-color-dark2);
                        border-radius: 50%;
                        text-align: center;
                        line-height: 95px;
                        font-size: 30px;
                        margin-right: 19px;
                        transition: all 0.3s ease;
                    }
                    span{
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .image-box{
        @include media-breakpoint-down(lg){
            margin-top: -100px;
            z-index: -1;
            text-align: center;
        }
        .image{
            img{
                @include media-breakpoint-down(lg){
                    max-width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width:577px){
    .intro-section .intro-column .sec-title-three h2{font-size: 37px;line-height: 48px;}
}


@media only screen and (max-width:480px){
    .intro-section .intro-column .sec-title-three h2{font-size: 24px;line-height: 36px;}
    .intro-section .intro-column .sec-title-three .text{font-size: 14px;line-height: 29px;}
    .intro-section .image-box{margin-top: 0;}
}