/*** 

====================================================================
    investment-section
====================================================================

***/


.main-section-three{
    position: relative;
    background-image: url(../images//background/Union1-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 152px 0 95px;
    @include media-breakpoint-down(xl){
        background-image: unset;
        background: #F0F0F0;
        padding: 120px 0;
    }
    .anim-icons{
        @include media-breakpoint-down(xl){
            display: none;
        }
        .one{
            position: absolute;
            top: 145px;
            right: 155px;
            @include media-breakpoint-down (xxl){
                top: 0;
                right: 0;
            }
        }
        .two{
            position: absolute;
            bottom: 300px;
            left: 30px;
        }
        .three{
            position: absolute;
            bottom: 27%;
            right: 0;
        }
    }
    .investment-section{
        position: relative;
        padding: 0 0 57px;
        .sec-title-three{
            margin-bottom: 90px;
            @include media-breakpoint-down(md){
                margin-bottom: 50px;
            }
            h2{
                @include media-breakpoint-down(md){
                    font-size: 30px;
                    line-height: 55px;
                }
            }
        }
        .investment-column{
            .text.one{
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 60px;
            }
            .outer-box{
                border-radius: 50px;
                background: #F06;
                padding: 54px 60px 35px;
                @include media-breakpoint-down(xl){
                    padding: 54px 40px 35px;
                }
                .content-box{
                    padding: 0 14px 71px;
                    .title{
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 55px;
                        text-transform: capitalize;
                        color: var(--theme-color-light);
                        margin-bottom: 18px;
                        @include media-breakpoint-down(xl){
                            font-size: 31px;
                            line-height: 45px;
                        }
                    }
                    .text{
                        font-size: 18px;
                        line-height: 28px;
                        color: var(--theme-color-light);
                        padding-right: 90px;
                    }
                }
                .image{
                    margin: 0 -36px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .outer-box{
            .image{
                margin: 0 -20px;
            }
        }
        .investment-column-v2{
            @include media-breakpoint-down(lg){
                margin-top: 50px;
            }
            .text.one{
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 60px;
            }
            .outer-box{
                border-radius: 50px;
                background: var(--theme-color-light);
                padding: 54px 60px 35px;
                @include media-breakpoint-down (xxl){
                    padding: 54px 40px 35px;
                }
                .content-box{
                    padding: 0 14px 17px;
                    .title{
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 55px;
                        text-transform: capitalize;
                        color: var(--theme-color-dark2);
                        margin-bottom: 18px;
                        @include media-breakpoint-down(xl){
                            font-size: 31px;
                            line-height: 45px;
                        }
                    }
                    .text{
                        font-size: 18px;
                        line-height: 28px;
                        padding-right: 90px;
                        margin-bottom: 22px;
                    }
                    .explore{
                        height: 52px;
                        line-height: 52px;
                        font-size: 14px;
                        color: var(--theme-color-light);
                        border-radius: 50px;
                        font-weight: 500;
                        padding: 0 35px;
                        display: inline-block;
                        background: #F06;
                        box-shadow: 0px 0px 30px 0px rgba(255, 0, 102, 0.30);
                        &:hover{
                            box-shadow: unset;
                        }
                    }
                }
                .image{
                    margin: 0 3px;
                    @include media-breakpoint-down(xl){
                        margin-top: 35px;
                    }
                    @include media-breakpoint-down(lg){
                        margin-top: 0;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:577px){
    .main-section-three .investment-section .investment-column .outer-box .content-box{padding-bottom: 50px;}
    .main-section-three .investment-section .investment-column-v2 .outer-box{ padding: 54px 32px 35px;}
}

@media only screen and (max-width:480px){
    .main-section-three .investment-section .investment-column-v2 .outer-box .content-box .title{font-size: 22px;line-height: 33px;}
    .main-section-three .investment-section .investment-column-v2 .outer-box .content-box .text{font-size: 14px;line-height: 26px;padding-right: 0;}
    .main-section-three .investment-section .investment-column-v2 .outer-box .content-box{padding: 0 0 17px;}
    .main-section-three .investment-section .investment-column-v2 .outer-box .content-box .explore{text-align: center;}
    .main-section-three .investment-section .investment-column .outer-box{padding: 54px 30px 35px;}
    .main-section-three .investment-section .investment-column .outer-box .content-box .title{font-size: 22px;line-height: 32px;}
    .main-section-three .investment-section .investment-column .outer-box .content-box .text{font-size: 14px;line-height: 26px;padding-right: 0;}
    .main-section-three .investment-section .investment-column .outer-box .content-box{padding: 0 0 50px;}
    .main-section-three .investment-section .investment-column .text.one{font-size: 14px;line-height: 25px;margin-bottom: 40px;}
    .main-section-three .investment-section .sec-title-three h2{font-size: 24px;line-height: 37px;}
    .main-section-three .investment-section .sec-title-three .sub-title{font-size: 14px;margin-bottom: 10px;}
    
}