/*** 

====================================================================
    PROJECTS COUNTER
====================================================================

***/

.projects-counter-section{
    position: relative;
    padding: 120px 0 120px;
    .projects-box{
        position: relative;
        background-color: var(--theme-color2);
        padding: 0 47px 0 114px;
        border-radius: 30px;
        margin: 25px 0 33px;
        @include media-breakpoint-down(xxl) {
            padding-left: 47px;
        }
        @include media-breakpoint-down(lg) {
            padding: 80px 30px;
        }
    }
    .block-content{
        margin-bottom: -50px;
        margin-top: -25px;
        @include media-breakpoint-down(lg) {
            margin: 0;
        }
    }
    .pro-text{
        .sec-title{
            padding: 83px 0 89px;
            margin-bottom: 0;
            @include media-breakpoint-down(lg) {
                padding: 0 0 50px;
            }
            h2{
                padding-bottom: 0;
                &::before{
                    display: none;
                }
                @include media-breakpoint-down(xl) {
                    font-size: 40px;
                    line-height: 50px;
                }
            }
            .text{
                color: #C8C8C8;
                padding-right: 107px;
                line-height: 30px;
                @include media-breakpoint-down(xxl) {
                    padding-right: 70px;
                }
                @include media-breakpoint-down(xl) {
                    font-size: 14px;
                    padding-right: 36px;
                }
            }
        }
    }
}

.project-counter-block{
    margin-bottom: 17px;
    padding: 52px 47px 69px;
    border-radius: 30px;
    background: #F06;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    @include media-breakpoint-down(lg) {
        padding: 30px 30px 30px;
    }
    .title{
        font-size: 70px;
        color: var(--theme-color-light);
        font-weight: 800;
        margin-bottom: 11px;
        line-height: 64px;
        @include media-breakpoint-down(lg) {
            font-size: 46px;
        }
    }
    .text{
        color: var(--theme-color-light);
        font-size: 16px;
    }
    &.v-1{
        border-radius: 30px;
        background: var(--theme-color-light);
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
        background-color: var(--theme-color-light);
        padding: 59px 30px 40px;
        @include media-breakpoint-down(xl) {
            padding: 30px 12px 30px;
        }
        @include media-breakpoint-down(lg) {
            padding: 30px 30px 30px;
        }
        .title{
            font-size: 60px;
            font-weight: 800;
            margin-bottom: 19px;
            color: #000;
            @include media-breakpoint-down(xl) {
                font-size: 46px;
            }
        }
        .text{
            font-size: 14px;
            line-height: 26px;
            color: #000;
        }
    }
}



/*** 

====================================================================
    project-section
====================================================================

***/

.project-section{
    position: relative;
    padding: 120px 0;
    .sec-title{
        h2{
            @include media-breakpoint-down(md) {
                font-size: 40px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 27px;
                line-height: 37px;
                margin-top: 10px;
            }
        }
    }
    .detail-title{
        font-weight: 500;
        color: var(--theme-color-dark2);
    }
}

// priject-block
.project-block{
    margin:  0 15px 30px;
    position: relative;
    border-radius: 30px;
    background: var(--theme-color-light);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.20);
    &:hover {
        .project-img {
            .image {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
    .project-img{
        position: relative;
        .image{
            overflow: hidden;
            border-radius: 30px;
            img{
                border-radius: 30px;
                width: 100%;
                transition: all 0.3s ease;
            }
        }
        span{
            position: absolute;
            bottom: 11px;
            right: 10px;
            text-align: center;
            font-size: 12px;
            color: #999;
            width: 64px;
            height: 30px;
            line-height: 30px;
            border-radius: 30px;
            background-color: var(--theme-color-light);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                margin-right: 4px;
            }
        }
        small{
            position: absolute;
            top: 11px;
            left: 10px;
            font-size: 12px;
            font-weight: 600;
            border-radius: 30px;
            background-color: var(--theme-color2);
            color: var(--theme-color-light);
            display: inline-block;
            padding: 0 13px;
            height: 30px;
            line-height: 30px;
        }
    }
    .project-info{
        padding: 21px 21px 11px;
        .title{
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 2px;
            &:hover {
                color: var(--theme-color1);
            }
            img{
                margin-left: 8px;
            }
            a{
                display: flex;
                align-items: center;
            }
        }
        .text{
            font-size: 14px;
            color: var(--text-color);
            font-weight: 400;
            padding-bottom: 19px;
            border-bottom: 1px solid #D9D9D9;
            margin-bottom: 5px;
        }
        span{
            font-size: 14px;
            display: block;
            color: #8E8E8E;
        }
        small{
            font-size: 12px;
            color: var(--text-color);
            text-decoration-line: underline;
        }
    }
}

// priject-block
.project-block-two{
    margin:  0 0px 30px;
    &:last-child{
        margin-bottom: 12px;
    }
    .inner-box{
        position: relative;
        border-radius: 30px;
        background: var(--theme-color-light);
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.20);
        display: flex;
        &:hover {
            .image-box {
                .image {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
        .image-box{
            position: relative;
            .image{
                overflow: hidden;
                border-radius: 30px;
                img{
                    border-radius: 30px;
                    width: 100%;
                    transition: all 0.3s ease;
                }
            }
            span{
                position: absolute;
                bottom: 11px;
                right: 10px;
                text-align: center;
                font-size: 12px;
                color: #999;
                width: 64px;
                height: 30px;
                line-height: 30px;
                border-radius: 30px;
                background-color: var(--theme-color-light);
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    margin-right: 4px;
                }
            }
            small{
                position: absolute;
                top: 11px;
                left: 10px;
                font-size: 12px;
                font-weight: 600;
                border-radius: 30px;
                background-color: var(--theme-color2);
                color: var(--theme-color-light);
                display: inline-block;
                padding: 0 13px;
                height: 30px;
                line-height: 30px;
            }
        }
        .content-box{
            padding: 40px 50px 11px 38px;
            width: calc(100% - 300px);
            .title-box{
                .title{
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 2px;
                    &:hover {
                        color: var(--theme-color1);
                    }
                    img{
                        margin-left: 8px;
                    }
                    a{
                        display: flex;
                        align-items: center;
                    }
                }
                .text{
                    font-size: 14px;
                    color: var(--text-color);
                    font-weight: 400;
                    padding-bottom: 67px;
                    border-bottom: 1px solid #D9D9D9;
                    margin-bottom: 21px;
                }
                .date{
                    position: absolute;
                    top: 10px;
                    right: 11px;
                    font-size: 14px;
                    color: var(--text-color);
                    height: 32px;
                    line-height: 32px;
                    border-radius: 20px;
                    background: #E0E4FC;
                    display: inline-block;
                    padding: 0 11px;
                }
            }
            .btn-box{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .price-content{
                    span{
                        font-size: 16px;
                        display: block;
                        color: #8E8E8E;
                        margin-bottom: -2px;
                    }
                    small{
                        font-size: 14px;
                        color: var(--text-color);
                        text-decoration-line: underline;
                    }
                }
                .project-btn{
                    font-size: 14px;
                    color: var(--theme-color-light);
                    font-weight: 500;
                    border-radius: 30px;
                    height: 46px;
                    line-height: 46px;
                    padding: 0 22px;
                    display: inline-block;
                    background: #F06;
                    box-shadow: 0px 0px 30px 0px rgba(255, 0, 102, 0.30);
                    &:hover{
                        box-shadow: unset;
                    }
                }
            }
        }
    }
}

.project-block.v1{
    margin: 0 0 36px;
}

.project-slider {
    padding-bottom: 70px;
}


@media only screen and (max-width:567px) {
    .project-section .sec-title h2{font-size: 30px;}
    .project-section .sec-title .sub-title{line-height: 28px;}
}

@media only screen and (max-width:480px) {
    .projects-counter-section .pro-text .sec-title h2{font-size: 24px;line-height: 34px;}
    .projects-counter-section .pro-text .sec-title .text{padding-right: 0;}
    .projects-counter-section .project-counter-block .title{font-size: 45px;}
}