/*** 

====================================================================
    team-section
====================================================================

***/

.team-section{
    position: relative;
    padding: 120px 0 90px;
    .sec-title-two{
        margin-bottom: 45px;
        h3{
            font-weight: 700;
        }
    }
    .outer-box{
        .member-list{
            display: flex;
            @include for-lg {
                justify-content:center;
            }
            @include for-xxs {
                display: block;
            }
            li {
                margin-right: 30px;
                &:last-child,
                &.three,
                &.six {
                    margin-right: 0;
                }
                @include for-xxs {
                    margin-right: 0;
                }
            }
            .circle{
                width: 120px;
                height: 120px;
                flex:0 0 120px;
                border-radius: 50%;
                background-color: var(--theme-color3);
                margin-right: 51px;
                @include for-lg {
                    display: none;
                }
            }
            .circle.two{
                background-color: rgba(82, 36, 181, 0.1);
                margin-right: 0;
                margin-left: 21px;
            }
            .image-box{
                background-color: rgba(127, 87, 241, 0.1);
                padding: 38px 60px;
                border-radius: 100px;
                margin-right: 0;
                width: 296px;
                text-align: center;
                margin-bottom: 30px;
                @include for-xl {
                    width: 250px;
                }
                @include for-lg {
                    width: 260px;
                    padding: 0 20px;
                    height: 100px;
                    display: flex;
                    align-items:center;
                    justify-content:center;
                }
                @include for-md {
                    width: 200px;
                }
                @include for-sm {
                    width: 150px;
                }
                @include for-xs {
                    width: 120px;
                    height: 70px;
                }
                @include for-xxs {
                    width: 100%;
                    height: 100px;
                }
            }
            .two{
                .image-box{
                    background-color: rgba(45, 248, 187, 0.1);
                }
            }
            .three{
                .image-box{
                    background-color: rgba(233, 50, 124, 0.1);
                }
            }
            .four{
                .image-box{
                    background-color: rgba(225, 29, 72, 0.1);
                }
            }
            .five{
                .image-box{
                    background-color: rgba(144, 251, 142, 0.1);
                }
            }
            .six{
                .image-box{
                    background-color: rgba(237, 64, 120, 0.1);
                }
            }
        }
        .member-list.two{
            .circle.two{
                margin-left: 0;
                margin-right: 51px;
            }
            .circle{
                margin-right: 0;
                margin-left: 21px;
            }
        }
    }
}


/*** 

====================================================================
    team-section
====================================================================

***/

.partners-section-v3{
    position: relative;
    padding: 120px 0 0;
    @include media-breakpoint-down(lg){
        padding-top: 140px !important;
    }
    @include media-breakpoint-down(md){
        padding-top: 20px !important;
    }
    .partner-column{
        .sec-title-three{
            margin-top: 11px;
            .sub-title{
                &::before{
                    display: none;
                }
                @include media-breakpoint-down(xxl){
                    margin-bottom: 25px;
                }
                @include media-breakpoint-down(md){
                    margin-bottom: 5px;
                }
            }
            h2{
                @include media-breakpoint-down(xxl){
                    line-height: 65px;
                    font-size: 50px;
                }
                @include media-breakpoint-down(xl){
                    font-size: 38px;
                    line-height: 46px;
                }
                @include media-breakpoint-down(lg){
                    font-size: 36px;
                }
            }
        }
    }
    .outer-box{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include media-breakpoint-down(lg){
            justify-content: flex-start;
        }
        .member-list{
            .image-box{
                border-radius: 60px;
                background: rgba(255, 255, 255, 0.80);
                box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
                padding: 38px 60px;
                border-radius: 100px;
                margin-right: 30px;
                width: 296px;
                text-align: center;
                margin-bottom: 30px;
                @include media-breakpoint-down(md){
                    width: 256px;
                }
            } 
        }
        .member-list.two{  
            .image-box{
                margin-right: 0;
            }
    }  
    }
}

.team-section-two.v1{
    background: #F0F0F0;
    padding-bottom: 90px;
}


/*** 

====================================================================
    team-section-three
====================================================================

***/

.team-section-three{
    position: relative;
    padding: 70px 0 90px;
    .sec-title-two{
        margin-bottom: 73px;
        h2{
            padding-bottom: 0;
            &::before{
                display: none;
            }
        }
        .text{
            position: absolute;
            top: -27px;
            right: 0;
            max-width: 550px;
            line-height: 30px;
            text-transform: lowercase;
            @include media-breakpoint-down(lg){
                position: static;
            }
        }
    }
}

// team-block-three
.team-block-three{
    position: relative;
    text-align: center;
    background-color: var(--theme-color-light);
    border: 3px solid #E0E4FC;
    border-radius: 175px;
    padding: 29px 0 67px;
    margin-bottom: 19px;
    @include media-breakpoint-down(xl){
        padding: 29px 15px 67px;
    }
    @include media-breakpoint-down(lg){
        border-radius: 30px;
        margin-bottom: 50px;
    }
    .image-box{
        margin-bottom: 13px;
        .image{
            img{
                border-radius: 50%;
            }
        }
    }
    .content-box{
        .name{
            font-size: 18px;
            font-weight: 700;
            color: var(--theme-color-dark2);
            margin-bottom: 7px;
        }
        .designation{
            font-size: 14px;
            display: inline-block;
        }
        .social-icons{
            display: flex;
            position: absolute;
            bottom: -22px;
            left: 50%;
            transform: translateX(-50%);
            li{
                margin-right: 10px;
                &:last-child{
                        margin-right: 0;
                }
                a{
                    background-color: #E0E4FC;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 18px;
                    &:hover{
                        filter: drop-shadow(0px 4px 20px #FF7C2A);
                        background-color: #FF7C2A;
                        color: var(--theme-color-light);
                    }
                }
            }
        }
    }
}

.justify-end {
    justify-content: flex-end;
}

@media only screen and (max-width:577px){
    .partners-section-v3 .outer-box .member-list .image-box{width: 210px; padding: 28px 33px;}
    .partners-section-v3 .partner-column .sec-title-three h2{font-size: 30px;line-height: 45px;}
    .partners-section-v3 .sec-title-three .sub-title{font-size: 16px;}
    .partners-section-v3 .outer-box .member-list .image-box{width: 100%;}
}
@media only screen and (max-width:480px){
    .sec-title-two .sub-title{margin-bottom: 10px;}
    .team-section-three .sec-title-two h2{line-height: 34px;font-size: 31px;}
    .partners-section-v3 .partner-column .sec-title-three h2{line-height: 39px;}
    .partners-section-v3 .outer-box{flex-direction: column;}
}