/*** 

====================================================================
    testimonial-section
====================================================================

***/

.testimonial-section{
    position: relative;
    padding: 120px 0;
    .sec-title-two{
        h2{
            padding-bottom: 0;
            &::before{
                display: none;
            }
            span{
                background-color: #e0e4fd;
                border-radius: 50px;
            }
        }
    }
    .testi-box{
        position: relative;
        text-align: center;
        max-width: 818px;
        margin: 0 auto;
        position: relative;
        height: 818px;
        margin-top: 110px;
        @include media-breakpoint-down(lg){
            height: unset;
            margin-top: 30px;
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 818px;
            height: 818px;
            background-image: url(../images//background/border1-1.png);
            z-index: 9;
            @include media-breakpoint-down(lg){
                display: none;
            }
        }
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 784px;
            height: 784px;
            background-image: url(../images//background/border1-2.png);
            z-index: 9;
            @include media-breakpoint-down(lg){
                display: none;
            }
        }
        .testimonial-slider {
            position: relative;
            height: 100%;
            @include media-breakpoint-down(lg){
                height: unset;
            }
            &::before{
                @include media-breakpoint-down(lg){
                    display: none;
                }
            }
            .slick-track,
            .slick-list {
                height: 100%;
            }
            .slick-prev,
            .slick-next {
                width: 348px;
                height: 348px;
                border-radius: 50%;
                background: #fff;
                z-index: 99;
                top: 50%;
                transform: translateY(-50%);
                @include media-breakpoint-down(xxl) {
                    width: 255px;
                    height: 255px;
                }
                @include media-breakpoint-down(xl){
                    width: 148px;
                    height: 148px;
                }
                @include media-breakpoint-down(lg){
                    display: none !important;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 167px;
                    height: 40px;
                    background-image: url(../images//left-arrow2.png);
                    background-repeat: no-repeat;
                    -webkit-filter: grayscale(1);
                    filter: grayscale(1);
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    @include media-breakpoint-down(xl){
                        width: 94px;
                    }
                }
                &:hover {
                    border:3px solid rgb(224, 228, 253);
                    &:before {
                        filter: grayscale(0);
                    }
                }
            }
            .slick-prev {
                right: 90%;
                left: auto;
                &:hover {
                    &:before {
                        transform: translate(-50%,-50%);
                    }
                }
            }
            .slick-next {
                left: 90%;
                right: auto;
                &:before {
                    transform: rotate(-180deg) translate(-50%,-50%);
                }
            }
            &:before {
                content: '';
                position: absolute;
                top:0;
                left: 50%;
                width: 719px;
                height: 963px;
                background-image: url(../images//resource/testi.png);
                background-repeat: no-repeat;
                transform: translateX(-50%);
                margin-top: -60px;
                z-index: 99;
            }
            
            .slick-dots{
                bottom: -50px;
            }

            .slick-dots li button{
                background: #111229;
                width: 15px;
                height: 15px;
                border-radius: 50%;
            }
            .slick-dots li.slick-active button:before{
                display: none;
            }
            .slick-dots .slick-active button{
                background-color: var(--theme-color3);
            }

            .testimonial-slide {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                z-index: 99;
                background-color: #fff;
                border-radius: 50%;
                .content-box{
                    width: 565px;
                    .rating{
                        display: flex;
                        justify-content: center;
                        margin-bottom: 44px;
                        li{
                            margin-right: 11px;
                            &:last-child{
                                margin-right: 0;
                            }
                            i{
                                color: var(--theme-color3);
                                font-size: 30px;
                            }
                        }
                    }
                    .text{
                        font-size: 22px;
                        line-height: 50px;
                        margin-bottom: 33px;
                    }
                    .auther-info{
                        .name{
                            color: var(--theme-color-dark2);
                            font-size: 26px;
                            font-weight: 700;
                            line-height: 50px;
                            margin-bottom: 0;
                            text-transform: capitalize;
                            margin-bottom: -4px;
                        }
                        .designation{
                            color: #999;
                            font-weight: 700;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:577px){
    .testimonial-section .sec-title-two h2{font-size: 30px;line-height: 60px;}
}

@media only screen and (max-width:480px){
    .testimonial-section .sec-title-two h2{line-height: 40px;}
    .testimonial-section .sec-title-two h2 span{padding: 0;background-color: unset;}
    .testimonial-section .testi-box .testimonial-slider .testimonial-slide .content-box .text{font-size: 16px;line-height: 28px;}
    .testimonial-section .testi-box .testimonial-slider .testimonial-slide .content-box .rating li i{font-size: 24px;}
    .testimonial-section .testi-box .testimonial-slider .testimonial-slide .content-box .rating{margin-bottom: 20px;}
}