/*** 

====================================================================
    why-choose-us-section
====================================================================

***/

.main-section-two{
    position: relative;
    padding: 322px 0 0;
    background-image: url(../images//background/unicon.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -11;
    @include media-breakpoint-down(xl){
        background-image: unset;
        background-color: #E0E4FC;
        padding: 120px 0;
    }
    .sec-title-two{
        @include media-breakpoint-down(md){
            margin-bottom: 20px;
        }
        h2{
            @include media-breakpoint-down(md){
                font-size: 32px;
            }
        }
    }
    .why-choose-us-section{
        padding-bottom: 69px;
        .sec-title-two{
            .sub-title{
                line-height: 25px;
                margin-bottom: 10px;
            }
        }
        .content-box{
            margin-top: 47px;
            .text{
                line-height: 30px;
            }
            @include media-breakpoint-down(md){
                margin-bottom: 45px;
            }
        }
        .content-box-two{
            text-align: center;
            margin-top: 73px;
            .rating-sec{
                .rating{
                    display: flex;
                    justify-content: center;
                    li{
                        margin-right: 7px;
                        &:last-child{
                            margin-right: 0;
                        }
                        i{
                            color: var(--theme-color3);
                        }
                        span{
                            color: var(--theme-color-dark2);
                            font-weight: 700;
                            font-size: 14px;
                            display: inline-block;
                            line-height: 30px;
                            margin-left: 6px;
                        }
                    }
                }
                .choose-btn{
                    font-size: 14px;
                    font-weight: 500;
                    height: 52px;
                    line-height: 52px;
                    display: inline-block;
                    padding: 0 46px;
                    border-radius: 30px;
                    background: var(--theme-color3);
                    text-align: center;
                    color: var(--theme-color-light);
                    box-shadow: 0px 0px 30px 0px rgba(255, 124, 42, 0.3);
                    margin-top: 27px;
                    &:hover{
                        box-shadow: unset;
                    }
                }
            }
        }
    }
}

// choose-block
.choose-block{
    position: relative;
    text-align: center;
    background-color: var(--theme-color-light);
    border-radius: 30px;
    padding: 35px 40px 41px;
    transition: all 0.3s ease;
    margin-bottom: 45px;
    &::before{
        content: "";
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 366px;
        height: 212px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 30px;
        z-index: -1;
        transition: all 0.3s ease;
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }
    &:hover{
        background-color: var(--theme-color4);
        &::before{
            background-color: rgba(82, 36, 181, 0.5);
        }
        .icon-box{
            &::before{
                background-color: rgba(255, 255, 255, 0.1);
            }
            i{
                color: var(--theme-color-light);
                transform: scaleX(-1);
            }
        }
        .title{
            color: var(--theme-color-light);
        }
    }
    .icon-box{
        display: inline-block;
        position: relative;
        margin-top: 14px;
        margin-bottom: 28px;
        &::before{
            content: "";
            position: absolute;
            top: -14px;
            right: -19px;
            width: 51px;
            height: 51px;
            border-radius: 50%;
            transition: all 0.3s ease;
            background-color: rgba(82, 36, 181, 0.1);
        }
        i{
            font-size: 90px;
            line-height: 90px;
            color: var(--theme-color4);
            transition: all 0.3s ease;
            display: block;
        }
    }
    .title{
        font-weight: 600;
        color: var(--theme-color-dark2);
        margin-bottom: 0;
    }
}

@media only screen and (max-width:577px){
    .main-section-two .sec-title-two h2{line-height: 40px;}
    .main-section-two .sec-title-two .sub-title{margin-bottom: 20px;}
}

@media only screen and (max-width:481px){
    .main-section-two .why-choose-us-section .content-box-two {margin-top: 40px;}
}